// Using Bourbon Neat http://neat.bourbon.io

#content {
	@include outer-container;
	// padding-right: 1%;
	// padding-left: 1%;

	#primary {
		@include span-columns(12);
	}

	article>header {
		clear: both;
	}
}

// .not-home {
// 	#content {
// 		#primary {
// 			@include span-columns(12);
// 			padding-left: 2%;

// 			@include breakpoint(large) {
// 				@include span-columns(8);
// 				padding-left: 0;
// 			}
// 		}
// 		#secondary {
// 			display: none;
			
// 			@include breakpoint(large) {
// 				@include span-columns(4);
// 				@include omega();
// 			}

// 		}		
// 	}
// }

.about-us,
.our-clients,
.page-template-page-full-width-php {
	#content {
		#primary {
			@include span-columns(12);
		}
	}
}

.page-template-page-full-width-php.logged-in.admin-bar.group-blog.not-home.test.page-test.debug-bar-maximized.customize-support div#page.hfeed.site div#content.site-content div#primary {
	@include span-columns(16);
}

.intro-text #home-text {
	display: none;
	@include breakpoint(small) {
		display: inherit;
	}
}

.home #main {
	@include breakpoint(small) {
		margin: 0;
		padding: 0;
		background: $light-green;
	}
}

.home article.page {
	@include breakpoint(medium) {
		margin-top: 0;
	}
	@include breakpoint(small) {
		margin-top: 0;
	}
}

.home .home-promos {
	@include breakpoint(medium) {
		padding-right: 1%;
		padding-left: 1%;
	}
	@include breakpoint(small) {
		padding-right: 2%;
		padding-left: 2%;
	}
}

footer.footer .copyleft {
	height: 30px;
	line-height: 30px;
	vertical-align: center;
}

footer.footer .copyleft img {
	display: inline-block;
	width: 25px;
	height: auto;
}

