// Using Bourbon Neat http://neat.bourbon.io

#content {
	@include outer-container;
	// padding-right: 1%;
	// padding-left: 1%;

	#primary {
		@include span-columns(12);
	}

	article>header {
		clear: both;
	}
}

.page-template-content-sidebar-page-php,
.blog,
.archive,
.category {
	#content {
		#primary {
			@include span-columns(8);
		}
		#secondary {
			@include span-columns(4);
		}		
		@include media($mobile) {
			#primary {
				@include span-columns(12);
			}
			#secondary {
				display: none;
			}
		}
		@include media($tablet) {
			#primary {
				@include span-columns(12);
			}
			#secondary {
				display: none;
			}
		}
	}
}

@include media($tablet) {
	.intro-text {
		padding-top: 0;
		margin-top: 0;
	}
}

.intro-text #home-text {
	display: none;
	@include breakpoint(small) {
		display: inherit;
	}
}

.home #main {
	@include breakpoint(small) {
		margin: 0;
		padding: 0;
		background: $light-green;
	}
}

.home article.page {
	@include breakpoint(medium) {
		margin-top: 0;
	}
	@include breakpoint(small) {
		margin-top: 0;
	}
}

.home .home-promos {
	@include breakpoint(medium) {
		padding-right: 1%;
		padding-left: 1%;
	}
	@include breakpoint(small) {
		padding-right: 2%;
		padding-left: 2%;
	}
}


footer.footer .copyleft {
	height: 30px;
	line-height: 30px;
	vertical-align: center;
}

footer.footer .copyleft img {
	display: inline-block;
	width: 25px;
	height: auto;
}

