// .cycloneslider-caption 
// .cycloneslider-caption-title
// .cycloneslider-caption-description
// .cycloneslider-caption-more

// $tiny: new-breakpoint(max-width $tinyscreen);
// $small: new-breakpoint(min-width $smallscreen);
// $medium: new-breakpoint(min-width $smallscreen + 1 max-width $mediumscreen);
// $large: new-breakpoint(min-width $largescreen);
// $xlarge: new-breakpoint(min-width $xlargescreen);

// @include breakpoint(small) {
// 	#cycloneslider-home-slide-1 {
// 		display: none;
// 	}
// }

#cycloneslider-home-slide-1 {
	@include breakpoint(small) { 
		display: none;
	}
	
}

// .cycloneslider .cycloneslider-caption
// .cycloneslider .cycloneslider-caption

// @include breakpoint(tiny) {}
// @include breakpoint(small) {}

.cycloneslider {
	.cycloneslider-caption {
		@include breakpoint(medium) {
			right: auto !important;
			left: auto !important;
			text-align: center;
			margin-right: 0;
			h2.cycloneslider-caption-title {
				font-size: 3rem;
				text-align: center;
			}
			h3.cycloneslider-caption-description {
				display: none;
			}
			.cycloneslider-caption-more {
				text-align: center;
			}
		}
		@include breakpoint(large) {
			h2.cycloneslider-caption-title {
				font-size: inherit;
			}
			h3.cycloneslider-caption-description {
				display: inherit;
			}
			.cycloneslider-caption-more {}
		}
	}
}

// @include media($tiny) {
// 	.cycloneslider-caption {}
// 	.cycloneslider-caption-title {} //32
// 	.cycloneslider-caption-description {} //16
// 	.cycloneslider-caption-more {} //12
// }