
#cycloneslider-home-slide-1,
.cycloneslider {
	@include breakpoint(small) { 
		display: none;
	}
	
}

.cycloneslider {
	.cycloneslider-caption {
		@include breakpoint(medium) {
			right: auto !important;
			left: auto !important;
			text-align: center;
			margin-right: 0;
			h2.cycloneslider-caption-title {
				font-size: 3rem;
				text-align: center;
			}
			h3.cycloneslider-caption-description {
				display: none;
			}
			.cycloneslider-caption-more {
				text-align: center;
			}
		}
		@include breakpoint(large) {
			h2.cycloneslider-caption-title {
				font-size: inherit;
			}
			h3.cycloneslider-caption-description {
				display: inherit;
			}
			.cycloneslider-caption-more {}
		}
	}
}

// @include media($tiny) {
// 	.cycloneslider-caption {}
// 	.cycloneslider-caption-title {} //32
// 	.cycloneslider-caption-description {} //16
// 	.cycloneslider-caption-more {} //12
// }