// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Box model
@mixin box-sizing($box-model) {
	-webkit-box-sizing: $box-model; // Safari <= 7
	-moz-box-sizing: $box-model; // Firefox <= 19
	box-sizing: $box-model;
}

// Border radius
@mixin border-radius($radius) {
	background-clip: padding-box; /* stops bg color from leaking outside the border: */
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin fancy-link {
	a {
		position: relative;
		display: inline-block;
		outline: none;
		color: $blue;
		vertical-align: bottom;
		text-decoration: none;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 500;
		&::before {
			pointer-events: none;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-font-smoothing: antialiased;
			font-smoothing: antialiased;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			background-color: rgba(52,73,94,0.2);
			content: '';
			-webkit-transition: -webkit-transform 0.2s;
			transition: transform 0.2s;
			-webkit-transform: translateY(95%);
			transform: translateY(95%);
		}
		&:hover::before,
		&:focus::before {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}	
	}	
}

@mixin tags {
	.tags {
		list-style: none;
		margin: 0;
		overflow: hidden; 
		padding: 0;
	}
	
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}
